body{
    margin: 0px;
    padding: 0px;
    font-family: "Readex Pro", sans-serif;
    background-color: #faf0dd;
}
.margin-top-bottom{
    margin:100px 0px;
}
.margin-bottom{
    margin-bottom: 100px;
}
body.white-body{
    background-color: #ffffff
}
.space-top-bottom-100{
    padding: 100px 0px;
}
.header-buttons.header-buttons-mobile{
    display: none;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: auto!important;
}
.space-left-right{
    padding: 0px 50px;
}
.banner-section.contact-banner {
    background-image: url(../images/contact-banner.jpg);
}
.spaceleft-right-30 {
    padding: 0px 30px;
}
.banner-section h1 {
    font-family: "Fredoka", sans-serif;
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    margin: 0px;
    line-height: 100px;
}
.contact-page-content h2 {
    color: #000000;
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-row h6 {
    color: #000000;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.contact-row a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.filter-form {
    padding-right: 50px;
}
.contact-page-content .btn.btn-style {
    margin-top: 40px;
}
.iframe-wrapper {
    border-radius: 30px;
    overflow: hidden;
    margin-top: 70px;
}
.iframe-wrapper iframe {
    width: 100%;
    height: 710px;
}
.field-style {
    height: 60px;
    border: 1px solid #9E9E9E;
    background-color: #ffffff;
}
.contact-us-text p {
    color: #000000;
    font-size: 20px;
}
textarea.form-control.field-style {
    height: 154px;
    margin-bottom: 30px;
}
.padding-top-100 {
    padding-top: 100px;
}
.banner-section {
    border-radius: 30px;
    overflow: hidden;
    background-image: url(../images/banner.jpg);
    padding: 150px 0px;
    background-size: cover;
    z-index: 20;
    position: relative;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 15px 30px;
    color: #333333;
    text-align: center;
}
.spaceleft-right{
    padding: 0px 60px;
}
.header-buttons ul{
    margin: 0px;
    padding: 0px;
}
.header-buttons ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}
.header-buttons ul li a{
    text-decoration: none;
}
.header-buttons ul li a span{
    background-color: #FFA028;
}
.header-buttons ul li a i{
    font-weight: 700;
}
.header-buttons ul li a span{
    background-color: #FFA028;
    color: #ffffff;
    font-size: 12px;
    padding: 4px;
    line-height: 12px;
    border-radius: 50px;
    display: inline-block;
    width: 20px;
    text-align: center;
    position: relative;
    left: -7px;
    top: -7px;
}
header .navbar .container{
    background-color: #ffffff;
    border-radius: 100px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px 0px #dddddd;
}
.banner-content h1{
    font-family: "Fredoka", sans-serif;
    font-size: 60px;
    color: #1D256B;
    font-weight: 600;
}
.First-fold-section{
    background-image: url("../images/blog-line.png");
    background-repeat: no-repeat;
}
.banner-content{
    padding: 40px 0px;
    position: relative;
}
.banner-content:before{
    content: "";
    background-image: url("../images/cir.png");
    width: 61px;
    height: 61px;
    background-size: contain;
    position: absolute;
    top: -30px;
    left: -50px;
}
.banner-content:after{
    content: "";
    background-image: url("../images/hex.png");
    width: 60px;
    height: 60px;
    background-size: contain;
    position: absolute;
    bottom: 40px;
    right: -50px;
}
.banner-content h1 img{
    margin-top: -25px;
}
.banner-content p{
    font-size: 16px;
    color: #585858;
    margin: 30px 0px;
    line-height: 30px;
}
.list-style ul{
    margin: 0px;
    padding: 0px;
}
.list-style ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #000033;
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
.clear-both{
    clear: both;
}
.list-style ul li i{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -3px;
    margin-right: 15px;
}
.btn.btn-style{
    background-color: #1D256B;
    color: #ffffff;
    width: 146px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    line-height: 20px;
    border: 0px !important;
}
.btn.btn-style:hover{
    background-color: #ED6436;
}
.btn.btn-style:active{
    color: #ffffff;
    background-color: #ED6436;
}
.banner-content .list-style{
    margin-bottom: 30px;
}
.pet-addicts{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    margin-left: 20px;
}
.pet-addicts img{
    margin-right: 5px;
}
.black-color-strip{
    background-color: #232121;
}
.black-color-strip li{
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
.black-color-strip li i{
    margin-right: 2px;
}
.black-color-strip{
    background-color: #232121;
    padding: 8px 0px;
}
.black-color-strip ul{
    margin: 0px;
}
.navbar{
    margin-top: 30px;
}
.second-fold-section{
    padding: 0px 0px 100px;
    background-image: url("../images/paw-bg.png");
    margin-top: 80px;
}
.feature-products{
    position: relative;
}
.feature-products h5{
    font-size: 40px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    position: absolute;
}
.feature-products.accessories h5{
    bottom: 10px;
    right: 20px;
}
.feature-products.pet-suppliments h5{
    position: static;
}
.pet-suppliment-text {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    top: 0px;
}
.pet-suppliment-text .btn.btn-style{
    background-color: #ED6436;
}
.pet-suppliment-text .btn.btn-style:hover{
    background-color: #1D256B;
}
.section-title i{
    display: block;
    margin-bottom: 5px;
    margin-bottom: 20px;
}
.section-title p{
    font-size: 12px;
    color: #1D256B;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
.iframe-section{
    margin-bottom: 100px;
}
.section-title .ptag{
    color: #585858;
    font-size: 16px;
    text-transform: lowercase;
    letter-spacing: 0;
    font-weight: 400;
}
.section-title h3{
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    line-height: 42px;
    color: #1D256B;
    font-weight: 700;
    margin-bottom: 15px;
}
.shop-by-pet{
    padding: 100px 0px 0px;
}
.pet-round-img h6 {
    color: #000000;
    font-size: 23px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 0px;
}
.shop-by-pet .section-title{
    margin-bottom: 60px;
}
.dog-link{
    position: relative;
}
.dog-link:before{
    content: "";
    width: 48px;
    height: 48px;
    background-image: url("../images/dogshape.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -30px;
    right: 0;
}
.animal-food{
    margin-top: 80px;
}
.animal-food-col{
    width: 100%;
    padding: 20px;
    border-radius: 27px;
    background-color: #ffffff;
    overflow: hidden;
}
.food-image {
    text-align: center;
    width: 150px;
    margin: auto;
}
.animal-food h6{
    font-family: "Fredoka", sans-serif;
    color: #000000;
    font-size: 20px;
    line-height:20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 25px;
    font-weight: 700;
}
.animal-food-col{
    position: relative;
}
.like-image{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
}
.view-all-button{
    margin-top: 60px;
}
.early-bird-titles{
    text-align: center;
    margin-bottom: 60px;
}
.early-bird-titles h4{
    font-size: 40px;
    font-family: "Fredoka", sans-serif;
    color: #1D256B;
    font-weight: 700;
    margin-bottom: 30px;
}
.early-bird-titles p{
    font-size: 20px;
    color: #1D256B;
    line-height: 20px;
    margin-bottom: 0px;
}   
#countdown ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#countdown ul li{
    list-style: none;
    text-align: center;
    width: 133px;
    height: 133px;
    border-radius: 30px;
    box-shadow: inset 0 0 30px #7c7c7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}
#countdown ul li span{
    display: block;
}
#countdown ul li span{
    font-family: "Fredoka", sans-serif;
    color: #1D256B;
    font-weight: 700;
    font-size: 40px;
}
.ctvalue{
    font-family: "Fredoka", sans-serif;
    color: #1D256B;
    font-weight: 700;
    font-size: 30px;
}
.exclusive-early-bird{
    background-color: #ffe9c9;
}
.early-bird-text{
    padding: 100px 0px 130px;
}
.early-bird{
    margin-top: -50px;
    position: absolute;
}
.new-arrivals-section{
    background-color: #ffffff;
    position: relative;
    padding: 100px 0px;
}
.new-arrivals-section:before{
    content: "";
    background-image: url("../images/layers.png");
    width: 100%;
    position: absolute;
    top: -44px;
    padding-top: 46px;
}
.product-image{
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dddddd;
    margin-bottom: 30px;
}
.product-box{
    text-align: center;
    margin-bottom: 60px;
    text-decoration: none;
    display: block;
}
.product-box h6{
    color: #1D256B;
    font-size: 22px;
    font-weight: 700;
}
.product-box p{
    color: #1D256B;
    font-size: 16px;
}
.new-arrivals-section .section-title{
    margin-bottom: 60px;
}
.complete-pet-care-tabs{
    margin-top: 100px;
}
.complete-pet-care-tabs .nav-link{
    color: #1D256B;
    font-size: 24px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
    text-align: left;
    padding: 30px 0px 30px 45px;
    position: relative;
}
.complete-pet-care-tabs .nav-link.active{
    background-color: transparent;
    color: #1D256B;
    position: relative;
}
.complete-pet-care-tabs .nav-link.active:after{
    content: "";
    background-image: url("../images/arr-right.png");
    width: 26px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.complete-pet-care-tabs .nav-link:before{
    content: "";
    width: 28px;
    height: 29px;
    background-image: url("../images/dot.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.animal-box{
    background-color: #f4e1d3;
    padding: 30px;
    border-radius: 10px;
    border: 1px dashed #92b2b4;
    width: 320px;
}
.animal-box h4{
    color: #1D256B;
    font-size: 22px;
    font-weight: 500;
}
.animal-box p{
    margin-bottom: 0px;
}
.animal-box-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.complete-pet-care-tabs .tab-content{
    padding-left: 50px;
    margin-top: -350px;
}
.animal-image{
    margin-left: -50px;
}
.animal-box-wrapper.skyblue .animal-box{
    background-color: #d0f9ff;
}
.catimage{
    margin-right: 20px;
}
.nav-link:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}
.complete-pet-care-solutions{
    padding: 100px 0px 60px;
}
.trusted-brands-box h3{
    color: #1D256B;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 50px;
}
.trusted-brands-box{
    padding: 100px 20px;
}
.light-cream{
    background-color: #fffbe5;
}
.trusted-brands-box hr {
    color: #878787;
    margin: 60px 0px;
}
.dark-cream{
    background-color: #ffedb9;
    background-image: url("../images/girl-with-dog.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.supported-by{
    padding: 100px 20px;
}
.dog-grooming img{
    width: 100%;
}
.client-review{

}
.client-review i{
    display: block;
    width: 80px;
    height: 67px;
}
.review-slider{
    margin-right: 55%;
    margin-top: 60px;
}
.client-review i{
    margin-bottom: 20px;
}
.client-review p {
    line-height: 30px;
}
.client-review h6{
    color: #1D256B;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.review-slider .owl-carousel .owl-nav button.owl-prev span, .review-slider .owl-carousel .owl-nav button.owl-next span{
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 0px;
    background-repeat: no-repeat;
    margin-right: 30px;
}
.review-slider .owl-carousel .owl-nav button.owl-prev span{
    background-image: url("../images/arr-left.png");
}
.review-slider .owl-carousel .owl-nav button.owl-next span{
    background-image: url("../images/arrow-right.png");
}
.review-slider .owl-carousel .owl-dots{
    display: none;
}
.review-slider .owl-carousel .owl-nav{
    margin-top: 50px;
}
.pet-news-section{
    background-color: #ffffff;
}
.pet-news-section{
    position: relative;
}
.pet-news-section:before{
    content: "";
    background-image: url(../images/layers.png);
    width: 100%;
    position: absolute;
    top: -44px;
    padding-top: 46px;
}
.post-thumbnail-image{
    border-radius: 10px;
    overflow: hidden;
}
.pet-news-section .section-title{
    margin-bottom: 50px;
}
.post-thumbnail-wrapper{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #dddddd;
    display: inline-block;
}
.post-thumbnail-text{
    padding: 30px;
}
.post-thumbnail-text span{
    font-size: 14px;
    color: #1D256B;
}
.post-thumbnail-text h4{
    color: #1D256B;
    font-family: "Fredoka", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 12px 0px;
}
.post-thumbnail-text a{
    margin-top: 10px;
}
.ft-des{
    display: flex;
    position: relative;
}
.ft-des:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120px;
    background-color: #c9c8c8;
    right: -10px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.ft-des.no-border:before{
    display: none;
}
.ft-des i{
    flex-shrink: 0;
}
.ft-des-text h5{
    color: #1D256B;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 10px;
}
.ft-des-text p{
    color: #585858;
    margin-bottom: 0px;
}
.ft-des-text{
    margin-left: 15px;
}
.footer-top{
    background-color: #ffe1b5;
    padding: 40px 0px;
}
.footer-bottom{
    background-color: #232121;
    padding: 100px 0px 0px;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-logo-box p{
    color: #EFEEE8;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
}
.social-icons ul{
    margin: 0px;
    padding: 0px;
}
.social-icons ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #ffffff;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    margin: 0px 2px;
}
.social-icons ul li a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 7px;
    display: inline-block;
    width: 100%;
}
.social-icons ul li a i{
    display: block;
}
.footer-links-wrapper ul{
    margin: 0px;
    padding: 0px;
}
.footer-links-wrapper ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.footer-links-wrapper ul li:before{
    content: "";
    width: 1px;
    background-color: #ffffff;
    position: absolute;
    height: 12px;
    right: 0px;
    top: 6px;
}
.footer-links-wrapper ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0px 12px;
}
.footer-links-wrapper h4{
    color: #ffffff;
    font-family: "Fredoka", sans-serif;
    font-size: 28px;
    font-weight: 700;
    flex-shrink: 0;
    width: 200px;
}
.footer-links-wrapper{
    border-bottom: 1px solid #444242;
    padding: 25px 0px;
    display: flex;
    align-items: center;
}
.footer-links-wrapper ul li:last-child:before{
    display: none;
}
.footer-links-wrapper h4{
    margin-bottom: 0px;
}
.footer-news-letter h4{
    color: #ffffff;
    font-family: "Fredoka", sans-serif;
    font-size: 28px;
    font-weight: 700;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.footer-date p{
    color: #ffffff;
    margin-bottom: 0px;
}
.footer-date i{
    display: inline-block;
    flex-shrink: 0;
    margin-right: 10px;
}
.footer-date{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.footer-news-letter .form-control{
    height: 54px;
    border-radius: 50px;
    border: 0px;
    padding: 0px 20px;
    /*background-image: url("../images/plain.png");
    background-repeat: no-repeat;
    background-position: right;*/
}
.news-letter-field{
    position: relative;
}
.news-letter-field .btn{
    position: absolute;
    top: 6px;
    right: 6px;
    border:0px !important;
    border-radius: 0px !important;
}
.news-letter-field .btn-check:checked+.btn,.news-letter-field .btn.active,.news-letter-field .btn.show,.news-letter-field .btn:first-child:active, :not(.btn-check)+.btn:active{
    border:0px !important;
}
.footer-cards-list ul{
    margin: 0px;
    padding: 0px;
}
.footer-cards-list ul li{
    list-style: none;
    margin: 0px 0px;
    display: inline-block;
}
.footer-cards-list ul li a{
    text-decoration: none;
    display: inline-block;
}
.footer-cards-list{
    text-align: right;
}
.copyright-section p{
    color: #EFEEE8;
    margin: 0px;
}
.copyright-section .row{
    padding: 20px 0px;
    margin-top: 40px;
}
.footer-links-box{
    margin: 0px 40px;
}
.footer-links-wrapper.padding-top-zero{
    padding-top: 0px;
}
.footer-links-wrapper.no-border{
    border: 0px;
}
.post-thumbnail-image img{
    width: 100%;
}
.inner-page-title h3{
    text-transform: uppercase;
    font-weight: 700;
}
.inner-page-title a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.inner-page-title i{
    margin: 0px 10px;
    color: #000000;
    font-size: 16px;
}
.inner-page-title{
    margin-bottom: 50px;
}
.product-image{
    text-align: center;
    overflow: hidden;
}
.product-image img{
    width: 100%;
}
.products-images-section{
    margin-bottom: 40px;
}
.filter-body h2{
    font-size: 22px;
    color: #000000;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.filter-body .form-control-range{
    width: 100%;
}
.filter-body{
    padding-right: 30px;
}
.filter-link-box{
    margin-bottom: 30px;
}
input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #FFA028;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #FFA028;
  }
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #FFA028;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #FFA028;
  }
.search-style{
    position: relative;
}
.search-style i{
    display: inline-block;
}
.search-style input{
    border-radius: 50px;
    border: 1px solid #A5A5A5;
    padding: 0px 20px;
    height: 50px;
    margin-bottom: 30px;
}
.search-style button{
    border: 0px;
    background-color: transparent;
    position: absolute;
    top: 3px;
    right: -3px;
}
.form-select:focus {
    border-color: #dddddd !important;
    outline: none !important;
    box-shadow: none !important;
}
.filters-actions select{
    width: 180px;
    height: 35px;
    border-radius: 50px;
    background-color: #D0F9FF;
}
.products-page-title{
    font-size: 16px;
}
.product-section-header{
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.product-filter-section{
    margin-bottom: 40px;
}
.from-to{
    margin: 20px 0px;
}
.form-style .form-control{
    height: 50px;
    border-radius: 50px;
}
.arrivals-img {
    background-color: #f5f5f5;
    border-radius: 18px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-arrivals-sidebar h6{
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
}
.new-arrivals-sidebar p{
    font-size: 18px;
    color: #1D256B;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.border-sec a {
    width: 45px;
    height: 45px;
    background-color: #D0F9FF;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    padding: 8px;
    margin: 0px 10px;
}
.border-sec a:hover{
    background-color: #FFD902;
}
/* procuct-deatal */

/* new */

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.img-selection{
    width: 100%;
    position: static;
    display: flex;
}

.img-thumbnail:first-of-type {
    margin-top: 0;
}

.img-thumbnail {
    margin-top: 10px !important;
    width: 79%;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: .3s ease;
    opacity: .5;
    border-radius: 30px;
}

.img-thumbnail:hover {
    opacity: 1;
}

.img-thumbnail.selected {
    opacity: 1;
    border-color: #FFD902;
}
.secproductcol {
    display: flex;
}

.big-img {
    position: relative;
    width: auto  !important;
    height: auto;
    border: 1px solid #ddd;
    cursor: zoom-in;
    overflow: hidden;
    margin-left: 0px;
    background: #EEEEEE;
    border-radius: 30px;
}
.img-selection{
    margin-top: 20px;
}
.img-selection .img-thumbnail{
    margin-right: 10px;
}
.big-img img.zoom{
    position: absolute;
    transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
}

.display-img {
    width: 100%;
}

.qty-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50px;
    overflow: hidden;
}

/* DT */
.dt-name {
    color: #000;
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.dt-fl {
    color: #000;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.dt-off {
    color: #E40401;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;   
    margin: 0;
}

.dt-mrp {
    color: #979797;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: line-through;
    margin: 0;
}

.dt-sale {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.dt-tex {
    color: #484848;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 25px;
}
.dt-tex span {
    display: inline-block;
    width: 150px;
}
.dt-tex i{
    color: #4F8A10  !important;
    font-style: normal;
}

.dt-fl-qty {
    color: #1C1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 5px 0px;
    font-family: "Fredoka", sans-serif;
}

.st-fl-btn {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #BBB;
    background: #EEE;
    padding: 8px 15px;
    text-decoration: none;
}

.st-fl-btn:hover {
    color: #FFF;
    background: #E40401;
}

button.qty-btn-minus.btn-light,
button.qty-btn-plus.btn-light {
    background: #000000;
    width: 100%;
    height: 50px;
    color: #fff;
    border: 0;
}
button.qty-btn-minus.btn-light:hover,
button.qty-btn-plus.btn-light:hover{
    background: #FFA028;
}

.qty-container input.input-qty {
    border: 1px solid #D9D9D9;
    background: #F9F9F9;
    width: 85px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.add-cart-btn{
    text-align: center;
    padding: 8px 150px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 50px;
}

.add-cart-btn:hover {
    color: #000;
    background: #FFA028;
}

.buy-now-btn {
    border-radius: 50px;
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding: 8px 170px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.buy-now-btn:hover{
    color: #000;
    background: #FFA028;
}

.left-right {
    padding: 0px 30px;
}

.p-Description div#nav-tab {
    justify-content: flex-start;
    border: 0;
}

.sec-relatrd{
color: #000;
font-size: 50px;
text-align: center;
padding-top: 30px;
font-style: normal;
font-weight: 700;
}

/* free */
.free-sec{
    padding: 60px 0px;
}
.tagp-free{
color: #1C1E1E;
font-size: 18px;
font-style: normal;
font-weight: 500;
}
.bg-text{
    background: #E40401;
    padding: 5px 0px;
}
.bg-text p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.box-img-name{
    border: 0.661px solid #D9D9D9;
background: #F9F9F9;
padding: 10px;
}
.freenmae-sec{
    color: #1C1E1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}
.tagp-freeh6{
    color: #1C1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
}
.dt-tex .btn{
    border: 1px solid #000000;
    border-radius: 50px;
    margin: 0px 5px;
}
.dt-tex .btn:hover{
    border-color: #BF494B;
    color: #BF494B;
}
.product-title{
    margin-bottom: 30px;
}

.accordion-style{
    margin: 60px 0px;
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: none !important;
}
.accordion-item{
    border-radius: 0px !important;
}
.accordion-button{
    border-radius: 0px !important;
    font-size: 30px;
    color: #1A1A1A !important;
}
.accordion-button:not(.collapsed){
        background-color: #D0F9FF;
}
.accordion-style h5{
    font-size: 26px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.accordion-style h6{
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.accordion-style .accordion-body{
    padding: 40px 20px;
}
.imageholder{
    margin: 20px 0px;
}
.recommended-products-section .section-title{
    margin-bottom: 40px;
}
.recommended-products-section .view-all-button{
    margin-top: 0px;
}
.recommended-products-section{
    padding-bottom: 100px;
}
.footer-news-letter{
    position: relative;
}
.contact-us-text.privacy-text .contact-row{
    margin-bottom: 40px;
}
/*
input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    font-family: 'Arial'
}
  
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before{
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 22px;
    height: 24px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}
  
input[type=checkbox] + label:active:before {
    transform: scale(0);
}
  
input[type=checkbox]:checked + label:before {
    background-color: #ED820A;
    border-color: #ED820A;
    color: #fff;
}
  
input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}
  
input[type=checkbox]:checked:disabled + label:before{
    transform: scale(1);
    background-color: #F7C28F;
    border-color: #F7C28F;
}
*/
.we-love-text ul{
    margin: 0px;
    padding: 0px;
}
.we-love-text ul li {
    list-style: none;
    width: 50%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding-left: 50px;
    height: 36px;
    line-height: 19px;
}
.we-love-text ul li a {
    text-decoration: none;
    color: #154270;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 0px;
    margin-top: 5px;
    display: inline-block;
}
.we-love-text ul li:before {
    content: "";
    width: 35px;
    height: 36px;
    background-image: url(../images/tick.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
}
.happy-clients-image{
    border-radius: 30px;
    overflow: hidden;
    margin-right: 30px;
}
.we-love-text .btn.btn-style{
    margin-top: 20px;
}
.meet-team-section .section-title{
    margin-bottom: 60px;
}
.team-member-data {
    text-align: center;
}
.team-member-data h5 {
    font-family: "Fredoka", sans-serif;
    font-size: 26px;
    color: #000000;
    margin: 30px 0px 10px;
}
.pet-news-section.events-page-content .post-thumbnail-wrapper{
    margin-bottom: 40px;
}
.blog-text {
    margin-top: 60px;
}
.blog-text-title {
    margin-bottom: 30px;
}
.blog-text h4 {
    font-size: 40px;
}
.blog-text-title p {
    color: #E94241;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
}
.blog-detail-page-content{
    margin-bottom: 60px;
}
form label {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}
.service-filter-field {
    margin-bottom: 30px;
}
.service-page-content .list-group {
    height: 800px;
    overflow: auto;
    box-shadow: 0px 0px 10px 0px #dddddd;
}
.service-page-content .list-group strong {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.time-and-button small {
    color: #898989;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
}
.new-arrivals-section .view-all-button{
    margin-top: 0px;
}
.early-bird img{
    height: 810px;
}
@media only screen and (min-width: 1920px){

    .container-fluid {
        width: 1720px;
    }
    .early-bird img{
        height: 810px;
    }
}
@media only screen and (max-width: 1400px){

    .dark-cream{
        background-size: 300px;
    }
    .review-slider {
        margin-right: 45%;
    }
}   
@media only screen and (max-width:1199px){

    .navbar-expand-md .navbar-nav .nav-link{
        padding: 15px 20px;
    }
    .navbar-brand{
        width: 280px;
    }
    .banner-content h1{
        font-size: 50px;
    }
    .feature-products h5 {
        font-size: 30px;
    }
    .animal-food .row .col{
        flex: 50%;
        margin-bottom: 40px;
    }
    .second-fold-section .view-all-button{
        margin-top: 30px;
    }
    #countdown ul li span{
        font-size: 35px;
        line-height: 40px;
    }
    .ctvalue{
        font-size: 25px;
    }
    #countdown ul li{
        height: 120px;
        margin: 0px 5px;
    }
    .ft-des-text h5{
        font-size: 26px;
        line-height: 26px;
    }
}
@media only screen and (max-width:1024px){

    .exclusive-early-bird .row{
        align-items: center;
    }
    .early-bird {
        margin-top: 0px;
    }
    .early-bird img {
        height: auto;
    }
    .banner-section h1{
        font-size: 60px;
        line-height: 80px;
    }
    .footer-links-wrapper h4{
        font-size: 24px;
    }
    .footer-links-wrapper h4{
        width: 150px;
    }
    
    .feature-products h5 {
        font-size: 26px;
    }
    .pet-suppliment-text .btn.btn-style{
        padding: 6px;
        width: 120px;
    }
}
@media only screen and (max-width:991px){

    .hide-on-mobile{
        display: none;
    }
    .filter-form {
        padding-right: 0px;
        margin-bottom: 40px;
    }
    .product-title{
        margin-top: 30px;
    }
    .happy-clients-image{
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .margin-bottom {
        margin-bottom: 60px;
    }
    .complete-pet-care-tabs .tab-content{
        padding-left: 50px;
        margin-top: 0px;
    }
    .complete-pet-care-tabs .d-flex{
        flex-direction: column;
    }
    .complete-pet-care-tabs .tab-content {
        padding-left: 0px;
        margin-top: 50px;
    }
    .complete-pet-care-tabs {
        margin-top: 30px;
    }
    .brand-image{
        text-align: center;
        margin-bottom: 30px;
    }
    .trusted-brands-box {
        padding: 80px 20px 50px;
    }
    .post-thumbnail-wrapper{
        margin-bottom: 50px;
    }
    .space-top-bottom-100 {
        padding: 80px 0px;
    }
    .ft-des{
        margin-bottom: 20px;
    }
    .copyright-section p{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-cards-list ul{
        text-align: center;
    }
    .footer-links-box {
        margin: 40px 0px;
    }
    .footer-bottom{
        padding: 60px 0px 0px;
    }
    .dog-link{
        margin-bottom: 30px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 10px 10px;
    }
    .navbar-brand{
        width: 160px;
    }
    .banner-content h1 img{
        margin-top: -12px;
    }
    .feature-products{
        margin-bottom: 40px;
    }
    .accessories-img img{
        width: 100%;
    }
    .second-fold-section{
        margin-top: 40px;
    }
    .shop-by-pet {
        padding: 50px 0px 0px;
    }
    .early-bird-titles h4 br{
        display: none;
    }
    .early-bird-titles h4{
        font-size: 35px;
    }
    .early-bird {
        margin-top: 0px;
    }
    .early-bird-text {
        padding: 80px 0px 80px;
    }
    .complete-pet-care-solutions{
        padding: 60px 0px 40px;
    }
    .header-buttons.header-buttons-mobile{
        display: none;
    }
    .product-section-header{
        flex-direction: column;
    }
    .colsettings{
        display: none;
    }
    .meet-team-section .row {
        flex-direction: column;
    }
    .meet-team-section .col {
        margin-bottom: 40px;
    }
}
@media only screen and (max-width:767px){

    .header-buttons{
        position: absolute;
        width: 90px;
        margin: auto;
        left: auto;
        right: 60px;
        top: 20px;
        bottom: auto;
        height: 28px;
    }
    .product-box{
        display: block;
    }
    .service-page-content .list-group strong {
        font-size: 16px;
    }
    .time-and-button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service-page-content .list-group .btn {
        line-height: 14px;
        font-size: 14px;
        padding: 10px 15px;
        width:auto;
    }
    .time-and-button small {
        font-size: 14px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .blog-text h4 {
        font-size: 30px;
    }
    .blog-text {
        margin-top: 30px;
    }
    .banner-section h1{
        font-size: 50px;
        line-height: 70px;
    }
    .iframe-section {
        margin-bottom: 60px;
    }
    .filter-form {
        padding-right: 0px;
    }
    .contact-row a {
        font-size: 18px;
    }
    .contact-us-text p {
        font-size: 18px;
    }
    .iframe-wrapper iframe {
        height: 410px;
    }
    .iframe-wrapper {
        border-radius: 10px;
        margin-top: 40px;
    }
    .contact-us-text{
        margin-top: 40px;
    }
    .contact-us-text.privacy-text{
        margin-top: 0px;
    }
    .banner-section{
        padding: 100px 0px;
    }
    .padding-top-100 {
        padding-top: 60px;
    }
    .navbar-toggler{
        background-color: #000000;
    }
    .spaceleft-right {
        padding: 0px 15px;
    }
    .banner-content:after{
        display: none;
    }
    header .navbar .container{
        border-radius: 10px;
        padding: 10px;
        position: relative;
    }
    /*.header-buttons{
        display: none;
    }*/
    .header-buttons.header-buttons-mobile{
        display: none;
    }
    .banner-content{
        padding-top: 0px;
    }
    .navbar {
        margin-top: 0px;
    }
    .header-buttons.header-buttons-mobile ul {
        text-align: center;
        padding-top: 10px;
    }
    .shop-by-pet {
        padding: 20px 0px 0px;
    }
    .pet-round-img{
        margin-bottom: 30px;
    }
    .animal-food {
        margin-top: 40px;
    }
    .second-fold-section {
        padding: 0px 0px 80px;
    }
    .new-arrivals-section{
        padding: 80px 0px;
    }
    .section-title h3 br{
        display: none;
    }
    .add-cart-btn,.buy-now-btn{
        width: 100%;
        display: block;
    }
    .accordion-button{
        font-size: 22px;
    }
    .accordion-style h5 {
        font-size: 24px;
    }
    .accordion-style .accordion-body {
        padding: 30px 20px;
    }
    .dt-name{
        font-size: 30px;
    }
    .img-thumbnail{
        border-radius: 20px;
    }
    .big-img{
        border-radius: 20px;
    }
    .spaceleft-right-30 {
        padding: 0px 20px;
    }
    .space-top-bottom-100 {
        padding: 60px 0px;
    }
    .love-to-care-section .section-title.text-left{
        text-align: center;
    }
    .love-to-care-section .we-love-text p{
        text-align: center;
    }   
    .meet-team-section .section-title {
        margin-bottom: 40px;
    }
}
@media only screen and (max-width:575px){

    .spaceleft-right-30 {
        padding: 0px 15px;
    }
    .space-top-bottom-100 {
        padding: 40px 0px;
    }
    .padding-top-100 {
        padding-top: 40px;
    }
    .contact-page-content h2{
        font-size: 30px;
    }
    .banner-section h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .banner-section {
        padding: 60px 0px;
    }
    .iframe-wrapper{
        margin-top: 20px;
    }
    .accordion-button {
        font-size: 18px;
    }
    .accordion-style .accordion-body{
        padding: 25px 15px;
    }
    .dt-tex span {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .dt-tex .btn{
        margin-right: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .add-cart-btn, .buy-now-btn{
        padding: 10px 20px;
        font-size: 18px;
    }
    .colsettings{
        margin-bottom: 20px;
    }
    
    .footer-news-letter h4{
        text-align: center;
    }
    .footer-links-wrapper{
        flex-direction: column;
        text-align: center;
    }
    .footer-links-wrapper h4 {
        width: auto;
        margin-bottom: 20px;
    }
    .footer-cards-list ul li{
        margin-bottom: 10px;
    }
    .banner-content h1 {
        font-size: 30px;
    }
    .banner-content h1 img {
        margin-top: -10px;
        width: 65px;
    }
    .list-style ul li{
        width: 100%;
    }
    .pet-addicts {
        margin-left: 0px;
        margin-top: 20px;
    }
    .feature-products h5{
        font-size: 22px;
    }
    .shop-by-pet{
        padding: 0px 0px 0px;
    }
    .pet-round-img h6{
        font-size: 18px;
    }
    .section-title h3{
        font-size: 32px;
        margin: 0px 10px;
    }
    .animal-food {
        margin-top: 20px;
    }
    .early-bird-text {
        padding: 60px 0px 60px;
    }
    #countdown ul li span {
        font-size: 26px;
        line-height: 30px;
    }
    .ctvalue {
        font-size: 18px;
    }
    .new-arrivals-section {
        padding: 60px 0px;
    }
    .new-arrivals-section .view-all-button{
        margin-top: 0px;
    }
    .complete-pet-care-tabs .nav{
        width: 100%;
    }
    .trusted-brands-box {
        padding: 60px 20px 50px;
    }
    .catimage{
        display: none;
    }
    .animal-image{
        display: none;
    }
    .animal-box{
        width: auto;
    }
    .trusted-brands-box h3{
        font-size: 30px;
        line-height: 40px;
    }
    .trusted-brands-box hr {
        margin: 30px 0px;
    }
    .supported-by {
        padding: 60px 20px;
    }
    .review-slider {
        margin-right: 0%;
    }
    .dark-cream {
        background-size: 130px;
    }
    .post-thumbnail-text {
        padding: 30px 15px;
    }
    .post-thumbnail-text h4{
        font-size: 24px;
    }
    .pet-news-section.space-top-bottom-100{
        padding-bottom: 30px;
    }
    .ft-des {
        margin-bottom: 40px;
    }
    .footer-top {
        padding: 40px 0px 0px;
    }
    .ft-des-text h5 {
        font-size: 22px;
        line-height: 24px;
    }
    .footer-logo-box{
        text-align: center;
    }
    .social-icons ul{
        text-align: center;
    }
    .accordion-style {
        margin: 50px 0px 30px;
    }
    .accordion-style h5 {
        font-size: 20px;
    }
    .navbar-brand {
        width: 120px;
    }
}